/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: #007acc;
    color: #fff;
    padding: 20px;
}

main {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 20px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #007acc;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

footer {
    background-color: #007acc;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
